.aboutContainer{
    display: flex;
    margin: 2rem 0;
}

.aboutContainer img {
    width: 30%;
    height: 300px;
    margin-right: 4rem;
}

#about h2{
    font-size: 3rem;
}

@media screen and (max-width: 970px) {

    .aboutContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .aboutContainer img{
        width: 50%;
        margin-right: 0rem;
        margin-bottom: 2rem;
    }
}