header{
    background-color: #E75A7C;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

h1 {
    padding-left: 2rem;
}


@media screen and (max-width: 970px) {
    header{
        flex-direction: column;
        align-items:center;
    }
    h1 {
        padding-bottom: 2rem;
    }
}